body
{
  margin:0;
  padding: 0;
  background-color: black
}
.container
{
  position: fixed;
  width: 600px;
  height: 200px;
  left: 43%;
  top: 16%;
  margin-left: -300px;
  transform: translate(-50% , -50%);
}
.button
{
  position: static;
  text-align: center;
  width:250px;
  padding: 40px;
  font-size: 35px;
  color:#15f4ee;
  font-family: poppins;
  font-weight: 400;
  border:5px solid #15f4ee;
  text-transform: uppercase;
  letter-spacing: 15px;
  cursor: pointer;
  border-radius: 100px;
  transition:1.5s;
  
  }

.button :hover
{
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
                0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
}
a {
  box-shadow: 0 3px 0 rgb(2, 18, 43);
  color: white;
  padding: 0.5em 0.7em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}


a:active {
  box-shadow: none;
  top: 5px;
}

